{% load static %}
<div class="main">
    <!-- H2 Heading -->
    <h2>Reservation</h2>
    <!-- H1 Heading -->
    <h1>Book a table</h1>
    <div class="time"><p>Mon - Fri:  <span class="time-text">10am - 10pm </span>&nbsp; &nbsp; • &nbsp; &nbsp; Sat - Sun:  <span class="time-text">09am - 12pm </span> </p> </div>

    <!-- Content -->
    <div class="form-box">
        <div class="inner">
            <!-- Appointment form -->
            <form method="post" id="apointmentform" class="site-apointment-form">
                {% csrf_token %}
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <!-- Name -->
                    <label><input type="text" name="contact_name" placeholder="Name" required="required"></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <!-- Email -->
                    <label><input type="email" name="contact_email" placeholder="Email" required="required"></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <!-- Phone -->
                    <label><input type="number" name="contact_phone" placeholder="Phone" required="required"></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <!-- No. of. people -->
                    <label><input type="number" name="noofpeople" placeholder="No. of. people" required="required"></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <!-- Date -->
                    <label><input type="text" name="date" id="date" value="" placeholder="YY-MM-DD" /></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <!-- Time -->
                    <label><select>
                        <option>Please select </option>
                        <option>Breakfast: 8AM to 10AM </option>
                        <option>Lunch: 12PM to 02AM </option>
                        <option>Dinner: 8PM to 11AM </option>
                    </select></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Message -->
                    <label><textarea name="contact_message" placeholder="Message" required></textarea></label>
                    <!-- Submit -->
                </div>
                <button type="submit">Book Table <i class="fa fa-arrow-right"> </i></button>
            </form>
        </div>
    </div>
    
</div>