{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="One Page Corporate HTML Template">
<meta name="author" content="">
<link rel="icon" href="images/logo-icon.png">

<!-- Title -->
<title>BiteMe - Restaurant HTML Template</title>

<!-- Necessary CSS Files -->
<link href="{% static 'restaurantapp/css/bootstrap.min.css' %}" rel="stylesheet">            								<!-- Bootstrap CSS Only GRID -->
<link rel="stylesheet" href="{% static 'restaurantapp/css/google-font.css' %}">              								<!-- Google Font Icon -->
<link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">					<!-- Google Font Allura-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">	<!-- Google Font  Montserrat-->
<link rel="stylesheet" href="{% static 'restaurantapp/css/font-awesome.min.css' %}">         								<!-- Font Awesome Icons -->
<link rel="stylesheet" href="{% static 'restaurantapp/css/swiper.min.css' %}">               								<!-- Swiper slider -->
<link rel="stylesheet" href="{% static 'restaurantapp/css/jquery.mb.YTPlayer.min.css' %}">   								<!-- Video background -->
<link rel="stylesheet" href="{% static 'restaurantapp/css/template.css' %}">                 								<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'restaurantapp/css/animate.css' %}">													<!-- Wow Animation CSS -->	
<link rel="stylesheet" type="text/css" href="{% static 'restaurantapp/css/easy-responsive-tabs.css' %}" />					<!-- Tab to accordian CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'restaurantapp/css/jquery-ui.css' %}" />								<!-- jquery-ui for date picker and time-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->